*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.wrapper{
    margin-left: 10px;
    margin-right: 10px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
 }
li {
    float: left;
}
li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul .RightItems{
    float: right;
}
li a.active {
    background-color: #272ad6;
    color: white;
}
li a:hover:not(.active) {
    background-color:  #ddd;
    color: white;
}
.submenu{
    display: none;
}
nav ul li:hover .submenu{
    display:inline-block;
    position:relative;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 1000;
}
.submenu li a{
    padding: 15px 30px;
    font-size: 13px;
    color: #666;
}
#main-image{
    width:auto;
    height:100vh;
    background: url("../img/pexels-photo-3727533.jpeg") no-repeat;
    background-position: center;
    background-size:cover;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}
#main-image h2{
    width: 400px;
    color: orange;
    font-weight: normal;
    text-transform: uppercase;
    padding: 50px 0 5px 0;
}
#main-image p{
    font-size: 20px;
    font-weight: normal;
    color: white;
    padding: 20px 0 10px 0;

}
#main-image a{
   text-decoration: none;
   color: #fff;
   background: orange;
   border-radius: 5px;
   margin-top: 5px;
   width: 120px;
   height: 50px;
   line-height: 50px;
}
#main-image a:hover{
    color: #fff;
    background: #272ad6;
}
.footer-link{
    background: #444;
}
.footer-link ul {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background:#444;
    border: none;
}
.footer-link p{
    text-align: center;
}
.footer-link ul li a:hover{
    background: none;
}
@media screen and (max-width:900px) {
    ul {
      width: 100%;
      height: auto;
    }
    
    ul li a {
      float: left;
      padding: 15px;
    }
    
}
@media screen and (max-width:600px) {
    ul li a {
      display:block;
      color: #666;
      text-align: center;
      text-decoration: none;
    }
    ul li {
        float: left;
    }
    ul .RightItems{
        float: left;
    }
}